.appNavbar-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-weight: bolder;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 50px;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-links {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.search-bar-container {
  background-color: gainsboro;
  padding: 10px;
  display: flex;
  border-radius: 100px;
}

.search-bar {
  width: 30rem;
  border: none;
  background-color: gainsboro;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  width: 50px;
  border: none;
  background-color: gainsboro;
}

.nav-items {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.home-item {
  font-weight: bolder;
  cursor: pointer;
}

.photoDetails-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
  border: none;
  box-shadow: 2px 2px 12px 2px #888888;
  border-radius: 20px;
}

.image-container {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}
.details-container {
  padding: 10px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.options {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 60px;
}
.option-item {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 20px 10px;
}

.option-item-icon {
  padding: 10px;
  border-radius: 50%;
}
.option-item-icon:hover {
  background-color: lightgray;
}

.option-item-button-one {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 20px;
  background-color: white;
  border: none;
  font-weight: bolder;
}

.option-item-button-two {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0px 5px;
  border-radius: 20px;
  background-color: rgb(202, 7, 7);
  border: none;
  color: white;
  font-weight: bolder;
}

.option-item-button-two:hover {
  background-color: rgb(143, 9, 9);
}

.profile-link {
  color: black;
  padding: 10px;
}
.profile-link:hover {
  color: black;
}

.title {
  padding: 10px;
  color: black;
  font-weight: bolder;
}

.description {
  padding: 10px;
  color: black;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.profile-left-section {
  display: flex;
  align-items: center;
}

.profile-icon {
  border-radius: 50%;
  background-color: rgb(226, 220, 220);
}

.profile-details {
  display: inline-block;
  line-height: 0.7;
  padding: 0px 10px;
}

.follow-button {
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: lightgray;
  margin-right: 15px;
  font-weight: bolder;
}

.follow-button:hover {
  background-color: #ddd;
}

.comments {
  padding: 10px;
  color: black;
  font-weight: bold;
}

.comment-description {
  padding: 10px;
}

.comment-section {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  border-top: 1px solid lightgray;
  border-bottom-right-radius: 20px;
  background-color: white;
  position: sticky;
  bottom: 0;
}

.comment-section-item-one {
  padding: 2px 5px;
}

.comment-section-item-two {
  padding: 2px 5px;
  background-color: #ddd;
  border-radius: 50px;
}

.emoji {
  width: 40px;
}

.comment-input {
  border: none;
  background-color: #ddd;
  height: 30px;
}

.comment-input:focus {
  outline: none;
}

.arrow-back {
  position: fixed;
  left: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.arrow-back:hover {
  background-color: #ddd;
}

.help {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.help:hover {
  background-color: #ddd;
}

/* DisplayCard component */
.card-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card-image {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  transition: 500ms ease;
  opacity: 0;
  cursor: zoom-in;
}

.card-container:hover .card-overlay {
  opacity: 0.6;
}

.card-container:hover .button-overlay-one {
  opacity: 1;
}

.button-overlay-one {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  opacity: 0;
}

.button-overlay-two {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 300px;
  border: none;
  background-color: red;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  opacity: 0;
}

.button-overlay-two:hover {
  background-color: rgb(212, 8, 8);
}

.card-container:hover .button-overlay-two {
  opacity: 1;
}

.bottom-button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.bottom-button {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: none;
  font-weight: bold;
}

.bottom-button-unique {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.bottom-button-unique:hover {
  background-color: #ddd;
}

.bottom-button:hover {
  background-color: #ddd;
}

.bottom-button-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.card-container:hover .bottom-button-overlay {
  opacity: 1;
}

.display-image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .appNavbar-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .nav-items {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .home-item {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  .dropbtn {
    font-size: 12px;
  }

  .photoDetails-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: none;
    box-shadow: 2px 2px 12px 2px #888888;
    border-radius: 20px;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }
  .details-container {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .option-item-button-one {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 12px;
  }

  .option-item-button-two {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto 5px;
    border-radius: 20px;
    background-color: rgb(202, 7, 7);
    border: none;
    color: white;
    font-weight: bold;
  }
  .comment-section {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 20px;
    background-color: white;
    position: sticky;
    bottom: 0;
  }

  .comment-input {
    border: none;
    background-color: #ddd;
    border-radius: 20px;
    width: 70%;
  }
  .comment-section-item-two {
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-radius: 50px;
  }

  .help {
    position: fixed;
    right: 20px;
    bottom: 100px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .search-bar {
    display: none;
  }

  .search-button {
    width: 100%;
    border: none;
  }
  .search-bar-container {
    background-color: gainsboro;
    padding: 5px;
    display: flex;
    border-radius: 10px;
  }
}

/* @media only screen and (min-width: 768px) {
  .appNavbar-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .nav-items {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .home-item {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  .dropbtn {
    font-size: 12px;
  }

  .photoDetails-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: none;
    box-shadow: 2px 2px 12px 2px #888888;
    border-radius: 20px;
  }

  .image-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .details-container {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .option-item-button-one {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 12px;
  }

  .option-item-button-two {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto 5px;
    border-radius: 20px;
    background-color: rgb(202, 7, 7);
    border: none;
    color: white;
    font-weight: bold;
  }
  .comment-section {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 20px;
    background-color: white;
    position: sticky;
    bottom: 0;
  }

  .comment-input {
    border: none;
    background-color: #ddd;
    border-radius: 20px;
  }
  .comment-section-item-two {
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-radius: 50px;
  }

  .help {
    position: fixed;
    right: 20px;
    bottom: 100px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .search-bar {
    display: none;
  }

  .search-button {
    width: 100%;
    border: none;
  }
  .search-bar-container {
    background-color: gainsboro;
    padding: 5px;
    display: flex;
    border-radius: 10px;
  }
  .comment-section {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 20px;
    background-color: white;
    position: sticky;
    bottom: 0;
  }

  .comment-input {
    border: none;
    background-color: #ddd;
    height: 30px;
    width: 35rem;
  }
} */
